/* Add CSS Styling */
.button1, .button2{
    font-size:28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.button1{
    color:hsl(0, 0%, 100%);
    background-color:hsl(0, 0%, 0%)
}

.button2{
    background-color: hsl(54, 100%, 59%);
}